

.section-header-text {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  margin: 20px 0;
  text-align: center;
  transform-style: preserve-3d;
}

.section-header-text::before,
.section-header-text::after {
  content: "";
  display: block;

  height: 1px;
  background: #333;
}

.blog-post {
  margin-bottom: 20px;
}
