/* CSS Variables */
:root {
  --primary-bg-color: #0b0f11;
  --navbar-bg-color: #333;
  --light-bg-color: rgba(255, 255, 255, 0.8);
  --footer-gradient: linear-gradient(45deg, #3498db, #2980b9);
  --dark-bg-color: rgb(20, 20, 200);
   
  --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/