@keyframes backgroundAnimation {
  0% {
    background-image: url("../documents/background.jpg");
  }
  18%,
  35% {
    background-image: url("../documents/background2jpg.jpg");
  }
  66% {
    background-image: url("../documents/background3jpg.jpg");
  }
  100% {
    background-image: url("../documents/background.jpg");
  }
}

body {
  animation: backgroundAnimation 30s infinite alternate linear forwards !important;
  background-size: cover;
  height: 100%;
  margin-bottom: 15px;
  background-position: center;
  transition: background 10s ease-in-out;
}
