*,*::after,*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.main-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../documents/background.jpg");
    padding: 20px;
}

.slide > img {
    max-height: 500px !important;
    max-width: 100%  !important;
}
.slide {
    border-bottom: 10px solid #333;
    margin-bottom: -4rem;
    padding: 20px;
    position: relative;
    max-width: fit-content;
    font-weight: 800;
    filter: blur(0.5px);
    max-height: 60vh;
}
.main-content-wrapper h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    margin: -10rem  0 0 0 ;
    text-align: center;
    transform-style: preserve-3d;
}

.main-content-wrapper h1::before, .main-content-wrapper h1::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #333;
}

.main-content-wrapper p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #333;
    margin: 20px 0;
    text-align: center;
}

.main-content-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 0x;
    padding: 1rem;
    letter-spacing: 0.05em;
    flex-direction: column;
    
}