# Ignore node_modules directory
node_modules/

# Ignore environment variable files
.env
.env.local
.env.*.local

# Ignore log files
*.log
logs/
*.log.*

# Ignore build output directories
dist/
build/

# Ignore sensitive data files
private/
*.key
*.pem
*.crt

# Ignore Netlify functions
netlify/functions/
netlify/functions/subform.js

# Ignore VSCode settings
.vscode/

# Ignore any other sensitive files
secrets/
credentials/

# Ignore specific project files inside the js folder
js/table.html
js/contact.js
js/projects.js
js/script.js
js/server.js

# Ignore specific project files inside the css folder
css/style.css
css/projects.css
css/index.css

# Ignore specific project files inside the images folder
documents/ProfileWebsitePicture.jpg
documents/ProfileWebsitePicture2.jpg
documents/ProfileWebsitePicture3.jpg

# Ignore specific project files inside the documents folder
table.html
projects.html
_redirects
