.banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.banner .slide {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
}
.banner .slide .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) -1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(550px);
  animation: autoRun 20s linear infinite;
}
@keyframes autoRun {
  from {
    transform: perspective(1000px)  rotateX(-16deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px)  rotateX(-16deg) rotateY(360deg);
  }
}
.banner .slide .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}