*::before,
*::after {
  box-sizing: border-box !important;
}
/* min mobile screen size view  */
@media screen and (max-width: 400px) and (min-width: 200px) and (min-height: 300px) {
  .main-content {
    margin-bottom: 10px;
    width: fit-content;
    min-width: 200px !important;
    max-width: 400px !important;
  }
}

.section-header-text {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  margin: 20px 0;
  text-align: center;
  transform-style: preserve-3d;
}

.section-header-text::before,
.section-header-text::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #333;
}

.blog-post {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main-content > article {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
   font-size: 1.5em;
  font-weight: 700;
  color: #333;
}